.list {
    line-height: 1.5;
    margin-bottom: 50px;

}

.formAddNew {
    display: flex;
    justify-content: flex-start;

    input, button {
        margin: 0;
        box-sizing: border-box;
    }
    input {
        margin-right: 20px;
    }
}