<div class="loginWrapper">
  <form name="LoginForm" ng-submit="$ctrl.handleSubmit()" class="form">
    <input id="Username" type="text" ng-model="$ctrl.username" name="Username" required>
    <label for="Username" ng-show="LoginForm.Username.$touched && LoginForm.Username.$invalid">Login is required</Label>
    <input type="password" ng-model="$ctrl.password" name="Password" required>
    <span ng-show="LoginForm.Password.$touched && LoginForm.Password.$invalid">Password is required</span>
    <button>Login</button><span></span>
  </form>
</div>